
/* FD_detail left form */
#FD_mainDetail{
    width: 1200px;
    height: 700px;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    margin-top: 60px;
}
section .FD_left_mainDetail{
    width: 700px;
    height: 700px;
    position: absolute;
    left: 130px;
}
.FD_detail_title{
    background-color: white;
    width: 700px;
    font-size: 25px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: -20px;
   
}
section .FD_left_mainDetail .FD_detail_mainImage img{
    height: 480px;
    width: 700px;
    background-size: auto;
    background-position: 100%;
    position: relative;
}
section .FD_left_mainDetail .FD_detail_mainImage button{
    position: absolute;
    height: 70px;
    width: 40px;
    font-size: 30px;
    left: 650px;
    top: 300px;
}
section .FD_left_mainDetail .FD_detail_images :nth-child(1){
    margin-left: 20px;
}
section .FD_left_mainDetail .FD_detail_images img{
    width: 150px;
    height: 100px;
    justify-content: flex-start;
    margin-right: 15px;
    margin-top: 15px;
}
/* FD_detail right form */
section .FD_right_mainDetail{
    position: absolute;
    left: 900px;
    height: 700px;
    width: 378px;
}
section .FD_right_mainDetail .FD_right_form h2{
    font-size: 40px;
    padding-left: 30px;
}
section .FD_right_mainDetail .FD_right_form h3{
    font-size: 30px;
    margin-bottom: 50px;
    padding-left: 30px;
}
section .FD_right_mainDetail .FD_right_form h4{
    font-size: 20px;
    padding-left: 30px;
}
section .FD_right_mainDetail .FD_right_form .FD_right_description{
    height: 100px;
    border-radius: 10px;
    background-color: white;
    width: 280px;
    margin: 0 auto;
    padding-left: 10px;
    padding-top: 5px;
}
.FD_right_mainDetail hr{
    width: 330px;
    margin-top: -20px;
}
section .FD_right_mainDetail .FD_right_form .FD_right_hashtag{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 70px;
}
.FD_right_hashtag button{
    background-color: #999393;
    color: white;
    border-radius: 20px;
    height: 30px;
}
.FD_right_heart{
    display: flex;
    margin-left: 30px;
}
.FD_right_heart button{
    font-size: 40px;
    border-style: none;
    background: none;
    margin-left: 10px;
}
.FD_right_heart p{
    margin-left: 10px;
    font-size: 30px;
}
.FD_right_bottomForm{
    height: 100px;
    z-index: 15;
}
.FD_right_bottomForm .donation{
    font-size: 35px;
    font-weight: bold;
    width: 250px;
    height: 70px;
    background-color: #2c1810;
    color: white;
    margin-left: 45px;
    border-radius: 5%;
}
.FD_right_bottomForm .share{
    margin-left: 10px;
    font-size: 35px;
    text-align: center;
    width: 60px;
    height: 60px;
}
/* FD_reportButton */
.FD_reportButton div{
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: absolute;
    width: 378px;
    height: 60px;
    left: 922px;
    top: 925px;
}
.FD_reportButton h4{
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}
/* FD_detailBar */
.FD_detailBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 730px;
    height: 60px;
    margin-left: 98px;
    margin-top: 60px;
    
}
.FD_detailBar div{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    font-size: 15px;
}
.FD_detailBar a{
    color: #000000;
    text-decoration: none;
}
.FD_detailBar .detailBar_introduce:hover, .detailBar_community:hover, .detailBar_refund:hover, .detailBar_update:hover{
    background-color: rgb(104, 104, 104);
}

/* 펀딩 프로젝트 커뮤니티칸 */
.FD_projectCommunity{
    width: 730px;
    height: 1250px;
    margin-left: 98px;
    background-color: gainsboro;
    position: relative;
    z-index: -2;
    
}
.FD_projectCommunity .communityBox h2{
    padding-top: 30px;
}
.FD_projectCommunity .communityBox hr{
    width: 650px;
}
.communityBox{
    line-height: 160%;
    margin-left: 40px;
    margin-right: 40px;
}
.FD_comm{
    background-color: #2c1810;
    width: 600px;
    height: 300px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
}
.FD_comm #id{
    position: absolute;
    top: -18px;
    left: 100px;
    color: white;
}
.FD_comm h4{
    position: absolute;
    left: 100px;
    top: 35px;
    color: white;
}
.FD_comm i:nth-child(1){
    font-size: 50px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}
.FD_comm_interBox{
    background-color: #ebebeb;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    height: 180px;
}
.FD_comm_interBox p{
    position: absolute;
    left: 500px;
    top: 10px;
    color: white;
}
.FD_comm_interBox h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
    line-height: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -10px;
  }
  .FD_comm_interBox h2{
    line-height: 150%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    font-size: 22px;
  }
  .FD_comm_interBox_left{
    width: 300px;
    height: 60px;
    position: relative;
    top: 11px;
    border: 1px solid gainsboro;
    background-color: #2c1810;
    border-bottom-left-radius: 30px;
  }
  .FD_comm_interBox .FD_comm_interBox_left i{
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 90px;
    top: -15px;
  }
  .FD_comm_interBox .FD_comm_interBox_left h1{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 160px;
    top: -4px;
  }
  .FD_comm_interBox_right{
    width: 300px;
    height: 60px;
    position: relative;
    left: 300px;
    top: -53px;
    border: 1px solid gainsboro;
    background-color: #2c1810;
    border-bottom-right-radius: 30px;
  }
  .FD_comm_interBox .FD_comm_interBox_right i{
    font-size: 35px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 90px;
    top: -15px;
  }
  .FD_comm_interBox .FD_comm_interBox_right h1{
    color: white;
    font-size: 25px;
    position: absolute;
    left: 160px;
    top: -4px;
  }
  /* 펀딩 댓글창 */
  #FD_commentBox{
    background-color: #999393;
    height: 500px;
    margin-top: 20px;
    border-radius: 10%;
    /* max-height: 0;  */
    /* overflow: hidden; */
    /* transition: max-height 0.5s ease; */
  }
.comment1{
    background-color: rgb(226, 226, 226);
    width:500px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
.comment1 i{
    position: absolute;
    top: -10px;
    left: -15px;
}
.comment1 h2{
    position: absolute;
    top: -30px;
    font-size: 20px;
    left: 75px;
}
.comment1 h3{
    position: absolute;
    top: 3px;
    font-size: 15px;
    left: 450px;
    color: #2c1810;
}
.comment1 p{
    margin-top: 15px;
    position: absolute;
    top: 30px;
    left: 75px;
    font-size: 13px;
}
.comment2{
    background-color: rgb(226, 226, 226);
    width:500px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-radius: 30px;
  }
.comment2 i{
    position: absolute;
    top: -10px;
    left: -15px;
}
.comment2 h2{
    position: absolute;
    top: -30px;
    font-size: 20px;
    left: 75px;
}
.comment2 h3{
    position: absolute;
    top: 3px;
    font-size: 15px;
    left: 450px;
    color: #2c1810;
}
.comment2 p{
    margin-top: 15px;
    position: absolute;
    top: 30px;
    left: 75px;
    font-size: 13px;
}
.FD_hiddenComm.show{
    max-height: 500px;
  }
  .commentForm{
    background-color: #2c1810;
    width: 500px;
    height: 60px;
    margin: 0 auto;
    margin-top: -230px;
    border-radius: 20px;
  }
  .commentForm input{
    width: 430px;
    border-radius: 20px;
    height: 30px;
    margin-left: 10px;
    margin-top: 12px;
  }
.commentForm i{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 338px;
    right: 70px;
}

/* 리워드 박스 */
.FD_rewardBar{
    border: 1px solid black;
    display: flex;
    align-items: center;
    position: absolute;
    width: 378px;
    left: 922px;
    top: 1025px;
}
.rewardBar{
    height: 1200px;
    margin: 0 auto;
}
.rewardBar h2{
    font-size:30px;
    font-weight: bold;
}
.rewardBar .rewardContent {
    background-color: rgb(199, 199, 199);
    text-align: left;
    align-items: center;
    height: 300px;
    border: 1px solid black;
    margin-top: 30px;
}
.FD_reward_button .donation{
    font-size: 35px;
    font-weight: bold;
    width: 250px;
    height: 70px;
    background-color: #2c1810;
    color: white;
    border-radius: 5%;
    position: absolute;
    right: 100px;
    top: 1100px;
}
.FD_reward_button .share{
    margin-left: 10px;
    font-size: 35px;
    text-align: center;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1105px;
    right: 20px;
}
