
*{
    margin:0;
    padding:0;
    box-sizing:boder-box;
}

body {
    background-color: #f5f7f6;
}

.slideContainer{
    position: relative;
    max-width: 1100px;
    height: 150px;
    display: flex;
    background-color: #ddd;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    margin-right:auto;
    margin-left:auto;
}
.slide {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide img.active{
    display:block;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color:white;
    border:none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}
.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.slidePage{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:rgba(0,0,0,0.5);
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin: 30px 0 30px;
}

.tab {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.tab button {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.tab .active {
    background-color: #ccc;
    font-weight: bold;
}

.noticeList {
    max-width: 1100px;
    margin: 0 auto;
}

.noticeContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #ccc;
}

.badge {
    background-color: #444;
    color: white;
    border-radius: 12px;
    font-size: 10px;
    padding: 2px 6px;
    margin-right: 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 20px 0;
}

.pagination span {
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #222;
    color: white;
}

.tabContent {
    display: none;
}

.tabContentActive {
    display: block;
}