* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
body{
    background-color:#f5f5f5
}   
div.pagename{
    text-align:center;
}
.main{
    
    height: calc(30vh - 100px);
}
.selectab{
    display: flex;
    height: calc(100vh - 100px);
}
.option {
    display: flex;              
    justify-content: center;    /* 가로 가운데 정렬 */
    gap: 10px;
    width: 100%;                  
    }
.option-area{
    background-color:rgba(216, 213, 213, 0.753);
    display: flex;
    height:60px;
    width: 70%;
    margin: 0 auto; /* 길이가 정해져있을때 가운데 정렬*/
    padding-bottom:0;
    box-shadow: 0px 0px 1px 0px;
}
.tab_name{
    text-align:center;
    font-size:22px;
    font-weight:bold;
    margin-bottom:20px;
    padding-top:-2px
}
.sidebar {
    width: 150px;
    background-color: white;
    color: #2c1810;
    padding: 20px 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
    }

.content {
    display: flex;
    flex-direction: column; /* 세로로 나열되도록 설정 */
    width: 100%; /* 나머지 공간 차지 */
    }


table {
        width: 70%;
        border-collapse: collapse;
        text-align: center;
        margin: 0px auto;
        
    }
th, td {
    border: 1px solid #ccc;
    padding: 8px;
}
td{
    height:8px;
}
.option select {
    width: 80px;
    height:60%; 
    margin: auto 0;
}
button.selec{
    width: 60px;
    height:60%; 
    margin: auto 0;
    color:black;

}

.pagename{
    padding-top:50px;
    display: flex;
    justify-content: center;
}
button.exit-btn {
    padding: 1px 10px;
    background-color: #7a7b81;
    color: white;
    border: none;
    border-radius: 20px;  
    font-size: 12px;
    cursor: pointer;
    margin-left: 8px;  
    
}

button.exit-btn:hover {
    background-color: #c0392b;
}
.sidebar ul{
    padding-top:3px;
    padding-bottom:60px;
}
.sidebar li{
    font-size:15px;
    padding-top:4px;
}
.sidebar li a:hover{
    color:red;
    cursor: pointer;

}
.pagenavi{
    padding-top:25px;
    text-align: center;
}

.pagenavi a{
    text-decoration:none;
    border: 1px solid #ccc;
    margin: 0 4px;
    padding: 4px 8px;
    margin-right: 4px;
    font-size:14px;
    color: black;
    border-radius:5px;
}

a.nowpg {
    background-color: black;
    color:white;
    }

li a{
    text-decoration:none;
    color: #2c1810;
}
.option p{
    margin: auto 0;

    }
