body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fffaf0;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 16px;
    gap: 40px;
}
.writing-order {
    flex: 1;
    background-color: #fdf1e7;
    border-right: 2px solid #f4a261;
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
    position: fixed;
    top: 20%;
    min-width: 160px;
}
.writing-order ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.writing-order li {
    margin-bottom: 16px;
}
.writing-order a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}
.writing-order a:hover {
    color: #e76f51;
}
.main-content {
    flex: 3;
    margin-left: 240px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}
.caption {
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}
.info-text {
    font-size: 14px;
    color: #777;
    margin-bottom: 12px;
}
.caution-text {
    color: #e63946;
    font-size: 13px;
    font-weight: 500;
}
.subcaption {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    display: inline-block;
    color: #444;
}
input[type="text"],
input[type="date"],
input[type="file"] {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
label input[type="checkbox"] {
    margin-right: 6px;
}
label {
    margin-right: 15px;
    font-size: 15px;
    color: #333;
}
.bot-button {
    margin-top: 30px;
}
.bot-button button {
    background-color: #f4a261;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bot-button button:hover {
    background-color: #e76f51;
}

.story-input {
    width: 85%;
    height: 170px;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 30px;
  }
fieldset {
    padding: 20px;
    border-radius: 10px;
    background-color: #fdf1e7ec;
    border: none;
}
fieldset p {
    font-size: 16px;
    font-weight: bold;
}
fieldset input[type="text"] {
    width: 300px;
}
#phone-number {
  padding: 10px;
  font-size: 16px;
  width: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
}